.trips-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.trips-table th,
.trips-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.trips-table th {
    background-color: #f2f2f2;
    color: #333;
}

.delete-btn img, .update-btn img, .save-btn img {
    width: 20px; 
    height: 20px;
    display: block;
  }
  

.action {
    display: flex;
    gap: 10px;
    justify-content: center;
}

